<div class="h-screen flex flex-col gap-4 items-center justify-center">
  <div class="flex">
    <app-input placeholder="Name" name="name" size="large" label="Name" [control]="getControl('name')"></app-input>

    <app-input placeholder="Password" name="password" label="Password" type="password"
      [control]="getControl('password')"></app-input>

  </div>
  {{ form.value | json }}

  <div>
    <p>Size</p>

    <div class="flex gap-4">
      <app-button variant="solid" size="small" label="Enter"></app-button>
      <app-button variant="solid" size="medium" label="Enter"></app-button>
      <app-button variant="solid" size="large" label="Enter"></app-button>
    </div>
  </div>

  <div>
    <p>Variant</p>

    <div class="flex gap-4">
      <app-button variant="solid" size="medium" label="Enter"></app-button>
      <app-button variant="outline" size="medium" label="Enter"></app-button>
      <app-button variant="ghost" size="medium" label="Enter"></app-button>
    </div>
  </div>
</div>